/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
#map {
  height: 100%;
}

/*
 * Optional: Makes the sample page fill the window.
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#clear-polygon-btn {
  width:20px;
  height:27px;
  background-color: white;
  border: none;
}
#clear-polygon-btn:hover {
  cursor: pointer;
}

.restriction-dataset {
}
.restriction-fc {
  margin-left: 30px;
}